*{
    margin: 0;
    padding: 0;
}

.User{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}

.avatar{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}
h1{
    color:rgb(255, 255, 255);
    font-size: 70px;
    margin-left: 3vh;
}

.photo{
    
    height: 100px;
    width: 100px;
    margin-left: 10px;
    

    
    border-radius: 100px; 
  border: 6px rgb(173, 91, 241) solid ;
 


    
}


  
.button{
    height: 20px;
    width: 20px;
}